In [7]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import json
from pprint import pprint

In [8]:
url = "http://www.omdbapi.com/?t="
api_key = "&INSERT YOUR API KEY HERE"

# EXTRACT

### Store CSV into DataFrame

In [9]:
csv_file = "Resources/netflix_titles.csv"
netflix_df = pd.read_csv(csv_file)
netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

# TRANSFORM

### Create new data with select columns

In [10]:
#Filter netflix titles to Movies only
netflix_movies = netflix_df.loc[netflix_df['type'] == 'Movie']
netflix_movies = netflix_movies.loc[netflix_movies['country'] == 'United States']
netflix_movies = netflix_movies[netflix_movies['listed_in']=='Documentaries']
netflix_movies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
79,80182115,Movie,Long Shot,Jacob LaMendola,NaN,United States,"September 29, 2017",2017,TV-14,40 min,Documentaries,When Juan Catalan is arrested for a murder he ...
92,81001809,Movie,Lessons from a School Shooting: Notes from Dun...,Kim A. Snyder,NaN,United States,"September 28, 2018",2018,TV-PG,24 min,Documentaries,"Two priests – one from Dunblane, Scotland, the..."
114,80173625,Movie,Restless Creature: Wendy Whelan,"Linda Saffire, Adam Schlesinger","Peter Martins, Sean Suozzi, Gretchen Smith, As...",United States,"September 26, 2017",2016,TV-MA,94 min,Documentaries,"After 30 years with the New York City Ballet, ..."
115,80005444,Movie,Print the Legend,"Luis Lopez, Clay Tweel",NaN,United States,"September 26, 2014",2014,TV-14,100 min,Documentaries,"This award-winning, original documentary chron..."
123,80198423,Movie,Teach Us All,Sonia Lowman,NaN,United States,"September 25, 2017",2017,TV-14,81 min,Documentaries,It's been decades since Brown v. Board of Educ...
...,...,...,...,...,...,...,...,...,...,...,...,...
5564,70129457,Movie,Life 2.0,Jason Spingarn-Koff,NaN,United States,"April 1, 2017",2010,NR,99 min,Documentaries,Computer users across the globe log onto the v...
5570,80104318,Movie,Silicon Cowboys,Jason Cohen,NaN,United States,"April 1, 2017",2016,TV-PG,77 min,Documentaries,This documentary tells the story of Compaq Com...
5572,80097468,Movie,The Bad Kids,"Keith Fulton, Louis Pepe",NaN,United States,"April 1, 2017",2016,TV-MA,101 min,Documentaries,"In this documentary, teachers at a Mojave Dese..."
5577,80085438,Movie,Frank and Cindy,G.J. Echternkamp,NaN,United States,"April 1, 2016",2007,TV-MA,70 min,Documentaries,Frank was a rising pop star when he married Ci...
5580,80064521,Movie,Jeremy Scott: The People's Designer,Vlad Yudin,Jeremy Scott,United States,"April 1, 2016",2015,PG-13,109 min,Documentaries,The journey of fashion designer Jeremy Scott f...

In [11]:
#pull only select columns from the data
new_netflix_df = netflix_movies[['show_id','title', 'country', 'release_year', 'rating']].copy()
#rename id column
netflix_transformed = new_netflix_df.rename(columns={"show_id": "id"})
netflix_transformed

,id,title,country,release_year,rating
79,80182115,Long Shot,United States,2017,TV-14
92,81001809,Lessons from a School Shooting: Notes from Dun...,United States,2018,TV-PG
114,80173625,Restless Creature: Wendy Whelan,United States,2016,TV-MA
115,80005444,Print the Legend,United States,2014,TV-14
123,80198423,Teach Us All,United States,2017,TV-14
...,...,...,...,...,...
5564,70129457,Life 2.0,United States,2010,NR
5570,80104318,Silicon Cowboys,United States,2016,TV-PG
5572,80097468,The Bad Kids,United States,2016,TV-MA
5577,80085438,Frank and Cindy,United States,2007,TV-MA
5580,80064521,Jeremy Scott: The People's Designer,United States,2015,PG-13

### API OMBDB

In [12]:
imdb_rating = []
meta_rating = []
awards =[]
not_found = 0
found_movies = []
movies = netflix_transformed['title']

for movie in movies:
    response = requests.get (url + movie + api_key)
    omdb = response.json()
    try:
        imdb_rating.append(omdb["imdbRating"])
        meta_rating.append(omdb["Metascore"])
        awards.append(omdb["Awards"])
        found_movies.append(movie)
    except:
        not_found = not_found + 1
        pass

In [13]:
#Create dataframe from information acquired from API
omdb_df = pd.DataFrame(list(zip(found_movies, imdb_rating, meta_rating, awards)),columns = ["movie_title", "imdb_rating", "metacritic_rating", "awards"])
omdb_df = omdb_df[omdb_df!="N/A"].dropna()
omdb_df

,movie_title,imdb_rating,metacritic_rating,awards
0,Long Shot,6.8,67,5 wins & 9 nominations.
1,Restless Creature: Wendy Whelan,7.1,87,1 nomination.
4,Audrie & Daisy,7.2,73,2 wins & 8 nominations.
15,Holy Hell,7.0,64,4 nominations.
16,13TH,8.3,83,Nominated for 1 Oscar. Another 32 wins & 45 no...
...,...,...,...,...
159,Oklahoma City,7.4,74,Nominated for 1 Primetime Emmy. Another 2 wins...
163,The Seven Five,7.6,69,2 nominations.
167,Life 2.0,6.2,65,1 win.
168,Silicon Cowboys,6.8,75,1 win & 1 nomination.
169,The Bad Kids,7.0,75,2 wins & 4 nominations.

### Connect to local database

In [14]:
rds_connection_string = "postgres:postgres@localhost:5432/netflix_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [15]:
engine.table_names()

[]

# LOAD

### Use pandas to load netflix_titles.csv converted DataFrame into database

In [16]:
netflix_transformed.to_sql(name='netflix_docs', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_location table

In [17]:
pd.read_sql_query('select * from netflix_docs', con=engine).head()

,id,title,country,release_year,rating
0,80182115,Long Shot,United States,2017,TV-14
1,81001809,Lessons from a School Shooting: Notes from Dun...,United States,2018,TV-PG
2,80173625,Restless Creature: Wendy Whelan,United States,2016,TV-MA
3,80005444,Print the Legend,United States,2014,TV-14
4,80198423,Teach Us All,United States,2017,TV-14

### Use pandas to load OMDb API converted DataFrame into database

In [18]:
omdb_df.to_sql(name='docs_ratings', con=engine, if_exists="append", index=False)

In [19]:
pd.read_sql_query('select * from docs_ratings', con=engine).head()

,movie_title,imdb_rating,metacritic_rating,awards
0,Long Shot,6.8,67,5 wins & 9 nominations.
1,Restless Creature: Wendy Whelan,7.1,87,1 nomination.
2,Audrie & Daisy,7.2,73,2 wins & 8 nominations.
3,Holy Hell,7.0,64,4 nominations.
4,13TH,8.3,83,Nominated for 1 Oscar. Another 32 wins & 45 no...